<button mat-button [matMenuTriggerFor]="menu">Manage Videos</button>
<mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let link of currentUser?.links" [matMenuTriggerFor]="delete" [matMenuTriggerData]="{video: link}">{{link.title}}</button>
        <button mat-menu-item (click)="openDialog();">Add Video</button>
</mat-menu>
<mat-menu #delete="matMenu">
  <ng-template matMenuContent let-video="video">
    <button mat-menu-item (click)="deleteLink(video.linkid);">Remove {{video.title}}</button>
  </ng-template>
</mat-menu>
