<form [formGroup]="addLinkForm" (ngSubmit)="onSubmit()">
  
  <label>
    Title:
    <input type="text" formControlName="title" required>
  </label>

  <label>
    Link: 
    <input type="text" formControlName="oEmbed" pattern>
  </label>

  <button mat-button type="submit" (click)="onSubmit();" [disabled]="!addLinkForm.valid" [mat-dialog-close]="addLinkForm">Submit</button>

  <p>
    <button (click)="updateLink()">Update Link</button>
  </p>

  <p>
    Form Info: {{ addLinkForm.value | json }}
  </p>

</form>